@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&family=M+PLUS+1p&family=M+PLUS+U:wght@100..900&display=swap');

/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

/* body */
body {
color: #474747;
font-size: 13px;
font-family: "M+PLUS+U", sans-serif;
letter-spacing: 0.1em;
background-color: #fff;
}

/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

/* 全体、ヘッダー、フッター */
#wrap {
max-width: 1000px;
margin: auto;
}

main {
max-width: 100%;
}

.main-content {
width: fit-content;
margin-left: auto;
margin-right: auto;
}

header {
margin-bottom: 1em;
padding-bottom: 0.75em;
min-height: 3em;
border-bottom: solid 1px #474747;
}

footer {
margin-top: 1em;
padding-top: 0.75em;
min-height: 3em;
border-top: solid 1px #474747;
line-height: 1em;
} 

.menutop {
display: flex;
justify-content: space-between;
align-items: flex-end;
}

.menubottom {
display: flex;
justify-content: space-between;
align-items: flex-start;
}

.left {
text-align:left;
display: inline-block;
font-size: 16px;
}

.leftbold {
text-align:left;
display: inline-block;
font-size: 16px;
font-weight: bold;
}

.right {
text-align: right;
margin-left: auto;
white-space: nowrap;
}

.center {
text-align: center;
}

/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

/* linktext */
a {
color: #83886C;
text-decoration: none;
}

a:hover {
color: #556354;
}

a.corage {
color: #ff7800;
text-decoration: none;
}

a.cblue {
color: #0078ff;
text-decoration: none;
}

.name {
font-size: 20px;
font-weight: bold;
}

.subtitle {
font-size: 30px;
font-weight: bold;
margin-bottom: 0.5em;
text-align: center;
}

/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

/* img */
img {
-webkit-touch-callout:none;
-webkit-user-select:none;
-moz-touch-callout:none;
-moz-user-select:none;
touch-callout:none;
user-select:none;
max-width: 100%;	/* 画像が親要素からはみ出さないようにする */
height: auto;		/* アス比維持 */
}

@media screen and (max-width: 360px) {
img {
width: auto;		/* 画面幅が360px以下の場合、画像の幅は自動調整 */
max-width: 100%;	/* 親要素の幅を超えない */
}
}

img.margin {
margin: 1px;
}

img.logo{
width: 100px;
height: auto;
position: relative;
}

img.icon{
width: 150px;
height: auto;
border-radius: 50%;
flex-shrink: 0;
}

img.snsp{
width: 18px;
height: auto;
margin-right: 5px;
}

img.banner{
max-width: 100%;
height: auto;
}

/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

/* hr */
hr {
height: 1px;
border: none;
border-top: solid 1px #474747;
}

hr.margin2 {
height: 1px;
border: 0px;
border-top: solid 2em #fff;
}

hr.margin35 {
height: 1px;
border: 0px;
border-top: solid 3.5em #fff;
}

/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

/* table */
table.general{
margin-left: -3px;
}

table.price {
margin-left: auto;
margin-right: auto;
}

td.product {
width:275px;
}

td.price {
width: 9em;	
}

td.general{
vertical-align: top;
}

tr.general{
width: 360px;
vertical-align: top;
}

/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

.profile {
display: flex;
align-items: center;
}

.description {
margin-top: 1em;
margin-bottom: 1em;
margin-left: 5em;
}

/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* flexbox */
/* worksの並べる系用 */
.box1 {
display: flex;			/* 横並び */
flex-wrap: wrap;		/* 子要素の折り返し */
justify-content: center;	/* 水平方向の揃え */
align-content: flex-start;	/* 複数行時の揃え */
}

/* 作品の下にテキスト込みの時使用 */
.item1 {
color: #999;
font-size: 10px;
text-align: center;
margin: 0.5em 1.5px;
}